@import "@/style/var.scss";

* {
    margin: 0;
    padding: 0;
    
}


a {
    text-decoration: none;
}

body {
    background: #fff !important;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jbetween {
    justify-content: space-between;
}

.jcenter {
    justify-content: center;
}

.jmiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.acenter{
    align-items: center;
}

.flex1 {
    flex: 1;
}

.flex3 {
    flex: 0.33;
    min-width: 33%;
}

.flex-warp {
    flex-wrap: wrap;
}

.fw700{
    font-weight: 700;
}
.fw400{
    font-weight: 400;
}

.cb1{
    color: #000;
}
.cb2{
    color: #333;
}

.cb3{
    color: #666;
}
.cb4{
    color: #999;
}



.resume-card{
    position: relative;
    border: 1px solid #f0f0f0;
    padding: 8px 0;
    .t-line{
        line-height: 1.8;
    }
    .text-line{
        display: flex;
    }
    .text-line::after{
        content: "";
        flex: 0.98;
        height: 1px;
        background-color: var(--themeColor);
        align-self: center;
    }
    .avatar{
        
    }
}
.clear-border-top{
    border-top: none;
}



@for $item from $gap-start through $gap-end{
    @if($item%2==0){
        .font-#{$item} {
            font-size: #{$item}px;
        }
    }
    
    .ml#{$item} {
        margin-left: #{$item}px;
    }

    .mr#{$item} {
        margin-right: #{$item}px;
    }

    .mt#{$item} {
        margin-top: #{$item}px;
    }

    .mb#{$item} {
        margin-bottom: #{$item}px;
    }

    .pl#{$item} {
        padding-left:#{$item}px;
    }

    .pr#{$item} {
        padding-right:#{$item}px;
    }

    .pt#{$item} {
        padding-top:#{$item}px;
    }

    .pb#{$item} {
        padding-bottom:#{$item}px;
    }
}

@media print {
    @page {
        size: A4;
        margin: 10mm 5mm 10mm 5mm;
    }

    .no-print {
        display: none;
    }

    body {
        background: #FFF;
    }
}