
.footer {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background: var(--themeColor);
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: end;
    position: fixed;
    bottom: 0;
    left: 0;

    .language {
        color: #fff;
        font-size: 14px;
        text-align: end;
        cursor: pointer;
    }
}

@media print {
    .footer {
        display: none;
    }
}